{% extends 'quiz/base.html' %}
{% block title %}Your Results{% endblock %}

{% block content %}
<div class="container mt-4">

    <h1>List of quizzes you have passed</h1>

    <ul class="list-group">
        {% if quizzes %}
            {% for quiz in quizzes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="quiz/{{ quiz.id }}">{{ quiz.title }}</a>
                    <span class="ml-auto">Score: {{quiz_score.score_counter}}/{{total_questions}}</span>
                    <span class="ml-auto">Author: {{ quiz.author.username }}</span>
                </li>
            {% endfor %}
        {% else %}
            <h1>There's no quizzes</h1>
        {% endif %}
    </ul>

</div>
{% endblock %}