{% extends 'quiz/base.html' %}
{% block title %}???{% endblock %}

{%block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">{{ quiz_object.title }}</h2>
            <p class="text-center">{{ quiz_object.description }}</p>
            <p class="text-center">Teacher: {{ quiz_object.author.username }}</p>
            <div class="d-grid gap-2">
                <a href="/filtered_quizzes" class="btn btn-secondary btn-block">Back</a>
                <a href="your_other_page.html" class="btn btn-success btn-block">Start</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}