{% extends 'quiz/base.html' %}
{% block title %}Quiz - {{ quiz.title }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Quiz - {{ quiz.title }}</h1>
    <form action="/{{form_action}}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <p><span>{{ question.question_number }}.</span> {{ question.text }}</p>
        </div>
        <div class="mb-3">
            {% if question_type == 'open' %}
                <input type="text" placeholder="Write your answer here...">
            {% elif question_type == "close_one" %}
                {% for option in answer_options %}
                    <label class="d-block">
                        <input name="close_one_checkbox_answer" type="radio">
                        <p class="d-inline">{{ option.text_of_answer }}</p>
                    </label>
                {% endfor %}
            {% elif question_type == "close_many" %}
                {% for option in answer_options %}
                    <label class="d-block">
                        <input name="close_one_checkbox_answer" type="checkbox">
                        <p class="d-inline">{{ option.text_of_answer }}</p>
                    </label>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mt-auto float-end">Next</button>
    </form>
</div>
{% endblock %}
